<%= form_with(model: eventt) do |form| %>
  <% if eventt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eventt.errors.count, "error") %> prohibited this eventt from being saved:</h2>

      <ul>
        <% eventt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :creator_id %>
    <%= form.number_field :creator_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
